<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<br>
<div class="container">
      <form action="/" method="POST">
    {% csrf_token %}

     {% if login_error %}
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label text-danger">Yandex Login</label>
          <div class="col-sm-6">
            <input  id="username" name="username" class="form-control is-invalid" placeholder="{{register_error}}">
          </div>
          <div class="col-sm-4">
            <small id="passwordHelp" class="text-danger">
              {{login_error}}
            </small>
          </div>
        </div>


        {% else %}
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">Yandex Login</label>
          <div class="col-sm-6">
            <input class="form-control" id="username" name="username" placeholder="Yandex Login">
          </div>
        </div>
        {% endif %}
      </form>


    <a href="{% url 'result' %}"> Результаты </a>

    </div>






</body>
</html>